.section__auth {
  display: flex;
  margin-top: 10px;
}
.section__auth .auth, .section__auth .auth__aside {
  width: 50%;
  overflow: hidden;
  text-overflow: clip;
  transition: all 0.8s ease-in-out;
}
.section__auth .registration {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.8s ease-in-out;
}
.section__auth .auth__deactive {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.8s ease-in-out;
}
.section__auth .registration__active {
  width: 50%;
  padding-left: 30px;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.section__auth .auth__title, .section__auth .register__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #080B13;
  margin-top: 80px;
  margin-bottom: 20px;
}
.section__auth .register__title {
  margin-top: 40px;
}
.section__auth .auth__form {
  position: relative;
}
.section__auth .show__password-auth, .section__auth .hide__password-auth {
  position: absolute;
  top: 78px;
  right: 14%;
  display: none;
  cursor: pointer;
}
.section__auth .register__form {
  position: relative;
}
.section__auth .show__password-register, .section__auth .hide__password-register {
  position: absolute;
  top: 264px;
  right: 14%;
  display: none;
  cursor: pointer;
}
.section__auth .show__password-active {
  display: block;
}
.section__auth .register, .section__auth .authentication {
  margin-top: 12px;
}
.section__auth .register span, .section__auth .authentication span {
  cursor: pointer;
  text-decoration: underline;
}
.section__auth .auth__aside img {
  width: 100%;
}
.section__auth input {
  display: block;
  height: 50px;
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #080B13;
  padding: 12px 16px;
  margin-bottom: 12px;
}
.section__auth .different__password {
  display: none;
  width: 50%;
  color: red;
  text-align: center;
}
.section__auth .form button {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  background-color: #080B13;
  height: 40px;
  width: 60%;
  margin-top: 12px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .section__auth {
    height: 530px;
    position: relative;
    justify-content: center;
    width: 100%;
    text-align: center;
    transition: transform 5s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  .section__auth input {
    font-size: 16px;
  }
  .auth__aside {
    display: none;
  }
  .auth, .registration {
    height: 530px;
    position: absolute;
    width: 70% !important;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  .auth .form, .registration .form {
    text-align: center;
  }
  .auth .form button, .registration .form button {
    width: 90%;
  }
  .auth {
    transform: rotateY(0deg);
  }
  .auth .auth__form a {
    position: absolute;
    left: 30px;
  }
  .auth .auth__form button {
    margin-top: 42px;
  }
  .registration {
    transform: rotateY(180deg);
  }
  .registration .register__title {
    width: 90%;
  }
  .auth__deactive {
    transform: rotateY(180deg);
  }
  .registration__active {
    transform: rotateY(360deg);
  }
  .auth__form {
    padding-left: 30px;
  }
}
@media screen and (max-width: 568px) {
  .section__auth input {
    font-size: 14px;
  }
  .auth, .registration {
    width: 90% !important;
  }
}
@media screen and (max-width: 425px) {
  .section__auth input {
    font-size: 13px;
    padding: 12px 16px;
  }
  .auth, .registration {
    width: 95% !important;
  }
}
@media screen and (max-width: 375px) {
  .section__auth input {
    font-size: 13px;
    padding: 10px 5px;
    height: 50px;
  }
  .section__auth .auth__title, .section__auth .register__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 330px) {
  .section__auth input {
    font-size: 12px;
    padding: 10px 5px;
    height: 40px;
  }
  .section__auth .form button {
    font-size: 14px;
  }
  .section__auth .auth__title, .section__auth .register__title, .section__breadcrumbs, .auth__form a, .register, .authentication {
    font-size: 14px;
  }
  .section__auth .show__password-register, .section__auth .hide__password-register {
    top: 221px;
  }
  .section__auth .show__password-auth, .section__auth .hide__password-auth {
    top: 64px;
  }
}/*# sourceMappingURL=auth.css.map */