* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: black;
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

input {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 5%;
}

.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
}

nav {
  position: relative;
}

.side__navigation {
  position: absolute;
  top: 74px;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
  text-align: center;
  background-color: #fff;
  height: 100vh;
}

.navigation {
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
}
.navigation .card__status {
  display: none;
}
.navigation__account {
  cursor: pointer;
}

.navigation__link:not(:last-child) {
  margin-right: 36px;
}

.burger__menu-button {
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 20px;
  display: none;
  z-index: 2;
}
.burger__menu-button span {
  display: block;
  height: 4px;
  width: 30px;
  background-color: #080B13;
  transition: all 0.3s ease-in-out;
}
.burger__menu-button span:not(:last-child) {
  margin-bottom: 7px;
}
.burger__menu-button .burger__firstline {
  transform: rotate(45deg);
  transform-origin: 0;
  transition: all 0.3s ease-in-out;
}
.burger__menu-button .burger__secondline {
  opacity: 0;
}
.burger__menu-button .burger__thirdline {
  transform: rotate(-45deg);
  transform-origin: 0;
  transition: all 0.3s ease-in-out;
}

.burger__menu {
  position: absolute;
  left: 31%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 69%;
  transition: all 0s;
  padding-right: 5%;
}

.categorie {
  padding: 28px 0;
}

.categorie:hover .categorie__dropdown {
  display: flex;
}

.categorie__dropdown {
  position: absolute;
  top: 74px;
  left: -50%;
  width: -webkit-fill-available;
  display: none;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.categorie__dropdown div {
  width: 204px;
}
.categorie__dropdown div h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #707070;
  margin-bottom: 56px;
}

.dropdown__item {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #080B13;
  margin-bottom: 12px;
}

.user {
  display: flex;
}

.main {
  padding-top: 74px;
}

.main__page {
  height: calc(100vh - 74px);
  background-image: url(../img/Main_background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.title {
  text-align: center;
  padding-top: 60px;
}
.title__content {
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  text-align: center;
  color: rgba(60, 55, 55, 0.8);
}

.footer {
  max-width: 1440px;
  width: 100%;
  height: 155px;
  background-color: #080B13;
  color: #ffffff;
}

.customer {
  width: 100%;
  height: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for__customer {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 12px;
}

.footer__item {
  color: #ffffff;
}

.subscribe {
  width: 40%;
}
.subscribe label {
  color: #ffffff;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: #FFFFFF;
}
.subscribe input {
  max-width: 315px;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  background-color: #080B13;
  color: white;
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}
.subscribe placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.5;
}
.subscribe button {
  width: 168px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #080B13;
}
.subscribe__form {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1250px) {
  .for__customer {
    width: 50%;
    grid-template-columns: auto auto;
  }
  .subscribe {
    width: 50%;
  }
}
@media screen and (max-width: 1100px) and (orientation: portrait) {
  .navigation__link:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 993px) and (orientation: portrait) {
  .side__navigation {
    transition: all 0s;
  }
}
@media screen and (max-width: 992px) {
  .navigation {
    justify-content: center;
  }
  .burger__menu {
    display: none;
  }
  .navigation__link {
    width: 100%;
    display: block;
    padding: 10px;
  }
  .navigation__link:hover {
    background-color: #080B13;
    color: #ffffff;
  }
  .navigation__link:hover .card__status {
    color: #ffffff;
  }
  .navigation__link:hover .card__status .item__number {
    color: #ffffff;
  }
  .navigation__link:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .burger__menu-active {
    width: 30%;
    visibility: visible;
    transition: width 0.5s ease-in-out, visibility 0.5s;
  }
  .burger__menu-button {
    display: block;
  }
}
@media screen and (max-width: 860px) {
  .footer {
    height: 200px;
  }
  .footer .customer {
    flex-direction: column;
    padding: 15px 0;
    height: 200px;
  }
  .footer .customer .for__customer {
    grid-template-columns: auto auto auto auto;
    width: 100%;
  }
  .footer .customer .subscribe {
    text-align: center;
    width: 100%;
  }
  .footer .customer .subscribe .subscribe__form {
    justify-content: center;
  }
}
@media screen and (max-height: 670px) and (orientation: landscape) {
  .main__page {
    background-position: center bottom;
    background-size: contain;
  }
}
@media screen and (max-height: 670px) and (orientation: portrait) {
  .main__page {
    background-position: center bottom;
    background-size: 200%;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .burger__menu-active {
    width: 100%;
    transition: width 0.5s ease-in-out;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    height: 250px;
  }
  .footer .customer {
    flex-direction: column;
    padding: 15px 0;
    height: 250px;
  }
  .footer .customer .for__customer {
    grid-template-columns: auto auto;
    width: 100%;
  }
  .footer .customer .subscribe {
    text-align: center;
    width: 100%;
  }
  .footer .customer .subscribe .subscribe__form {
    justify-content: center;
  }
}
@media screen and (max-width: 430px) {
  .footer .customer {
    flex-direction: column;
    padding: 15px 0;
  }
  .footer .customer .for__customer {
    grid-template-columns: auto auto;
    width: 100%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer .customer .subscribe {
    text-align: center;
    width: 100%;
  }
  .footer .customer .subscribe .subscribe__form {
    justify-content: center;
  }
  .footer .customer .subscribe input, .footer .customer .subscribe placeholder, .footer .customer .subscribe button {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) and (orientation: portrait) {
  .title img {
    width: 100%;
  }
  .title__content {
    font-size: 7vw;
  }
}
@media screen and (max-height: 374px) {
  .navigation__link:not(:last-child) {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 308px) {
  .footer {
    height: 270px;
  }
  .footer .customer {
    height: 270px;
  }
}
@media screen and (max-height: 320px) {
  .main__page {
    height: calc(100vh - 44px);
    background-size: 90%;
  }
  .title {
    display: none;
  }
  .title__content {
    font-size: 7vh;
  }
}/*# sourceMappingURL=index.css.map */