.section__itempage{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    gap: 20px;
    .item__photo{
        width: 48%;
        position: relative;
        //flex-shrink: 2;
        img{
            width: 100%;
        }
    }
    .item__content{
        width: 49%;
        .item__content-name{
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 135%;
            color: #000000;
            margin-bottom: 20px;
        }
        .item__content-price{
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 135%;
            color: #000000;
            margin-bottom: 32px;
        }
        .item__content-color{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 2%;
        }
        .item__color{
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            width: 40px;
            height: 40px;
            margin-right: 32px;
            cursor: pointer;
            margin-bottom: 32px;
        }
        .color__milky{
            background-color: #F4E1CC;
        }
        .color__border{
            background-color: #262626;
        }
        .color__indigo{
            background-color: #9FAED9;
        }
        .color__bolotny{
            background-color: #56AA91;
        }
        .color__lightgrey{
            background-color: #707070;
        }
        .color__brown{
            background-color: #743821;
        }
        .color__orche{
            background-color: #C89607;
        }
        .color__darkgreen{
            background-color: #214133;
        }
        .item__color-active{
            border: 1px solid rgba(60, 55, 55, 0.8);
        }
        .item__content-size{
            display: flex;
        }
        .item__size{
            width: 49px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-right: 32px;
            margin-bottom: 32px;
            cursor: pointer;
        }
        .item__size-active{
            border: 1px solid rgba(60, 55, 55, 0.8);
        }
        .item__content-button{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            text-align: center;
            color: #FFFFFF;
            background: rgba(60, 55, 55, 0.8);
            opacity: 0.5;
            display: inline-block;
            padding: 12px 24px;
            cursor: pointer;
            margin-bottom: 36px;
        }
        .size__selected{
            background: #080B13;
            opacity: 1;
        }
        .go__button-card{
            background: #00AB26;
            opacity: 1;
        }
    }
}
.item__info{
    display: flex;
    //position: relative;
    div{
        margin-right: 20px;
    }
}
.item__description-name, .item__size-name, .item__comment-name{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    opacity: 0.3;
    cursor: pointer;
    margin-bottom: 16px;
}

.item__description-content, .item__size-content, .item__comment-content{
    max-width: 700px;
    width: 100%;
    display: none;
}
.comments{
    max-width: 700px;
    width: 100%;
    .my__comment{
        width: 100%;
        margin-bottom: 10px;
            textarea{
                width: 100%;
                height: 4em;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #000000;
                padding: 10px;
            }
            button{
                background-color: white;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #000000;
                padding: 6px 8px;
                cursor: pointer;
                border: 1px solid black;
                border-radius: 5px;
            }
    }
    .comment{
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        .comment__vote{
            display: flex;
            div{
                cursor: pointer;
                margin-right: 10px;
            }
        }
        .comment__text{
            margin: 20px 0;
        }
        .vote__liked, .vote__disliked{
            display: none;
        }
        .vote__like-quantity{
            color: green;
        }
        .vote__dislike-quantity{
            color: red;
        }
    }
}
.item__size-content{
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
}
.info__active{
    opacity: 1;
    display: block;
}
.item__info-tablet{
    display: none;
}
@media screen and (max-width: 1110px) {
    .section__itempage .item__content .item__color {
        width: 35px;
        height: 35px;
        margin-right: 4%;
    }
    .content{
        font-size: 14px;
    }
}
@media screen and (max-width: 992px) {
    .item__info-tablet{
        display: block;
    }
    .item__info-lg{
        display: none;
    }
    .content{
        font-size: 16px;
    }
}
@media screen and (max-width: 835px) {
    .section__itempage .item__content .item__color {
        margin-right: 4%;
    }
    .section__itempage .item__content .item__size {
        width: 40px;
        height: 40px;
        margin-right: 4%;
    }
    .item__content-name, .item__content-price {   
        font-size: 24px;
    }
    .item__description-name, .item__size-name, .item__comment-name, .item__content-button {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .item__content-name {
        margin-bottom: 4% !important;
    }
    .item__content-name, .item__content-price, .item__content-button, .item__description-name, .item__size-name, .item__comment-name, .item__content-button{
        font-size: 3vw !important;
    }
    table{
        font-size: 2vw !important;
    }
    .item__content-color{
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .section__itempage .item__content .item__color {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 660px) {
    .section__itempage .item__content .item__color {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
    .section__itempage .item__content .item__size {
        width: 30px;
        height: 30px;
        margin-right: 4%;
    }
}
@media screen and (max-width: 425px) {
    .section__itempage {
        flex-direction: column;
    }
    .item__photo, .item__content{
        width: 100% !important;
        text-align: center;
    }
    .item__content-name, .item__content-price, .item__content-button, .item__description-name, .item__size-name, .item__comment-name, .item__content-button{
        font-size: 4vw !important;
    }
    .content{
        font-size: 3vw !important;
    }
    table{
        font-size: 2vw !important;
    }
    .item__content-color{
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .section__itempage .item__content .item__color {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    .section__itempage .item__content .item__content-button {
        margin: 0 auto;
    }
    .section__itempage .item__content .item__size {
        width: 40px;
        height: 40px;
        margin-right: 4%;
    }
    .section__itempage .item__content .item__content-size {
        justify-content: center;
    }
    .section__itempage .item__content .item__content-color {
        justify-items: center;
        margin-bottom: 13px;
    }
}