.contact__info {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.contact__info input[type=text], .contact__info input[type=number] {
  height: 50px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #080B13;
  padding: 12px 16px;
}
.contact__info input::-moz-placeholder {
  opacity: 0.2;
}
.contact__info input:-ms-input-placeholder {
  opacity: 0.2;
}
.contact__info input::placeholder {
  opacity: 0.2;
}
.contact__info .delivery__methods input {
  display: none;
}
.contact__info .delivery__methods label {
  display: inline-block;
  max-width: 347px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.contact__info .delivery__method {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  background: #FFFFFF;
  color: #080B13;
}
.contact__info #shop:checked + .method__shop, .contact__info #door:checked + .method__door, .contact__info #by__card:checked + .method__card, .contact__info #by__cash:checked + .method__cash {
  background: #080B13;
  color: #FFFFFF;
}
.contact__info .info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #080B13;
  margin-bottom: 20px;
  display: block;
}
.contact__info .info__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #080B13;
  margin-bottom: 8px;
  display: block;
}
.contact__info .town, .contact__info .delivery__method, .contact__info .adress, .contact__info .points, .contact__info .contact__name, .contact__info .contact__phone, .contact__info .contact__email, .contact__info .payment__method, .contact__info .agreement {
  margin-bottom: 36px;
}
.contact__info .payment__methods #by__card, .contact__info .payment__methods #by__cash {
  display: none;
}
.contact__info .payment__method {
  padding: 0px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid black;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
}
.contact__info .card__info {
  height: 0px;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
}
.contact__info .card__info .card__number input::-webkit-outer-spin-button,
.contact__info .card__info .card__number input::-webkit-inner-spin-button, .contact__info .card__info .card__date input::-webkit-outer-spin-button,
.contact__info .card__info .card__date input::-webkit-inner-spin-button, .contact__info .card__info .card__cvv input::-webkit-outer-spin-button,
.contact__info .card__info .card__cvv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact__info .card__info .card__details {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.contact__info .card__lists {
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
}
.contact__info .card__lists .card__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 32px;
  padding-right: 5px;
  margin-bottom: 5px;
}
.contact__info .card__lists .card__list .card__type {
  height: 30px;
}
.contact__info .card__hide {
  display: none;
}
.contact__info .agreement input[type=checkbox] {
  margin-right: 5px;
}
.contact__info .agreement a {
  text-decoration: underline;
}
.contact__info form button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.contact__info .btn__active {
  background: black;
  opacity: 1;
}
.contact__info .btn__deactive {
  background: rgba(60, 55, 55, 0.8);
  opacity: 0.6;
}/*# sourceMappingURL=order.css.map */